form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;

  margin: var(--space-padrao-m) auto;
  padding: var(--space-padrao-m);
}

label {
  font-weight: bold;

  width: 100%;
}

input,
select,
textarea {
  width: 100%;
  padding: var(--space-padrao-p);
  margin-bottom: var(--space-padrao-m);
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  font-size: var(--font-size-base);
}

textarea {
  resize: none;
}


.main-elements {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 16vh;
  padding: var(--space-padrao-m);
}

h1 {
  margin-bottom: var(--space-padrao-m);
  text-align: center;
}

button,
input[type="submit"],
input[type="reset"] {


  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  cursor: pointer;
}

button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #f1f1f1;
}


button,
input[type="submit"],
input[type="reset"] {
  width: 100%;
  max-width: 200px;
}